.vs/
out/
x64/
Debug/
Release/
*.user
*.suo
*.VC.db
*.VC.opendb
*.pfx
*.cer
*.pvk
*.cat
*.sys
*.log
*.dmp

*.pdb
*.ilk
*.exp
*.lib
driver-manifest.json

official-windows-driver-samples/
certification-report.json
audio-e2e.json
*.binlog
